{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@components": "./src/components",
          "@libs": "./src/libs",
          "@layouts": "./src/components/layouts",
          "@templates": "./src/templates",
          "@themes": "./src/themes",
          "@src": "./src",
          "@pages": "./pages",
          "@config": "./config",
          "@assets": "./public"
        },
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    [
      "babel-plugin-macros"
    ],
    [
      "emotion"
    ]
  ]
}